.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}
.card {
  flex: 0 0 200px;
  margin: 10px;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
  display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
} 
.card img {
  max-width: 100%;
}
.card .text {
  padding: 0 20px 20px;
}
.card .text > button {
  background: gray;
  border: 0;
  color: white;
  padding: 10px;
  width: 100%;
  }


  .container{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
  }


  .select {
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
    width: 100%;
  }    .select select {
        font-family: 'Arial';
        display: inline-block;
        width: 100%;
        cursor: pointer;
        padding: 15px 13px;
        outline: 0;
        border: 0px solid #000000;
        border-radius: 0px;
        background: #e6e6e6;
        color: #7b7b7b;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
    }
        .select select::-ms-expand {
            display: none;
        }
        .select select:hover,
        .select select:focus {
            color: #000000;
            background: #cccccc;
        }
        .select select:disabled {
            opacity: 0.5;
            pointer-events: none;
        }
  .select_arrow {
    position: absolute;
    top: 16px;
    right: 15px;
    pointer-events: none;
    border-style: solid;
    border-width: 8px 5px 0px 5px;
    border-color: #7b7b7b transparent transparent transparent;
  }
  .select select:hover ~ .select_arrow,
  .select select:focus ~ .select_arrow {
    border-top-color: #000000;
  }
  .select select:disabled ~ .select_arrow {
    border-top-color: #cccccc;
  }